<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [3]:
import csv

from collections import namedtuple   # Convenient to store the data rows

import pandas as pd

DATA_FILE = './data/chipotle.tsv'

In [4]:
chipotle = pd.read_csv(DATA_FILE, delimiter='\t')

chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [5]:
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
chipotle.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [7]:
#find total quantity of orders using max divide by sum of (price times quantity)

test_sum = chipotle.loc[:, 'total'].sum()

KeyError: 'the label [total] is not in the [columns]'

In [8]:
#multiply quantity * price and create a new column
chipotle.loc[:, 'total'] = chipotle.loc[:, 'quantity'] * chipotle.loc[:, 'item_price']
#sum new column
chipotle.columns
order_total = chipotle.loc[:, 'total'].sum()

#create average order based on max found in .describe

#average_order = int(order_total)/1834

In [9]:
def dollar_convert(x):
    return float(x[1:-1])

chipotle['item_price'] = chipotle['item_price'].apply(dollar_convert)

In [10]:
total_orders = chipotle['item_price'].sum()

#unique order count

order_count = len(set(chipotle['order_id']))

total_orders/order_count

18.811428571428575

In [11]:
total_orders

34500.16

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [ ]:
#total cost of orders/total orders
#sum total prices

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [24]:
chipotle2 = chipotle

In [25]:
chipotle2.head()

,order_id,quantity,item_name,choice_description,item_price,total
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
1,1,1,Izze,[Clementine],$3.39,$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$16.98 $16.98

In [58]:
frame_1 = chipotle[chipotle['item_name'] == 'Canned Soda']
frame_2 = chipotle[chipotle['item_name'] == 'Canned Soft Drink']

frame_3 = pd.concat([frame_1, frame_2])

set(frame_3.choice_description)

{'[Coca Cola]',
 '[Coke]',
 '[Diet Coke]',
 '[Diet Dr. Pepper]',
 '[Dr. Pepper]',
 '[Lemonade]',
 '[Mountain Dew]',
 '[Nestea]',
 '[Sprite]'}

In [50]:
chipotle2.loc[:, ]

chipotle2['item_name'].drop_duplicates

<bound method Series.drop_duplicates of 0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
5                                Chicken Bowl
6                               Side of Chips
7                               Steak Burrito
8                            Steak Soft Tacos
9                               Steak Burrito
10                        Chips and Guacamole
11                       Chicken Crispy Tacos
12                         Chicken Soft Tacos
13                               Chicken Bowl
14                        Chips and Guacamole
15      Chips and Tomatillo-Green Chili Salsa
16                            Chicken Burrito
17                            Chicken Burrito
18                                Canned Soda
19                               Chicken Bowl
20                        Chips and Guacamole
21                           Barbacoa Burrito
22                           Nantucket Nectar
23                            Chicken Burrito
24                                       Izze
25               Chips and Fresh Tomato Salsa
26                               Chicken Bowl
27                           Carnitas Burrito
28                                Canned Soda
29                            Chicken Burrito
                        ...
4592                         Barbacoa Burrito
4593                            Carnitas Bowl
4594                            Barbacoa Bowl
4595                             Chicken Bowl
4596                      Chips and Guacamole
4597                        Canned Soft Drink
4598                            Bottled Water
4599                             Chicken Bowl
4600                      Chips and Guacamole
4601                        Canned Soft Drink
4602                         Barbacoa Burrito
4603                         Barbacoa Burrito
4604                             Chicken Bowl
4605                      Chips and Guacamole
4606                        Canned Soft Drink
4607                            Steak Burrito
4608                           Veggie Burrito
4609                        Canned Soft Drink
4610                            Steak Burrito
4611                           Veggie Burrito
4612                            Carnitas Bowl
4613                                    Chips
4614                            Bottled Water
4615                       Chicken Soft Tacos
4616                      Chips and Guacamole
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object>

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [62]:
chipotle['choice_description']

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
5       [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...
6                                                     NaN
7       [Tomatillo Red Chili Salsa, [Fajita Vegetables...
8       [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...
9       [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...
10                                                    NaN
11      [Roasted Chili Corn Salsa, [Fajita Vegetables,...
12      [Roasted Chili Corn Salsa, [Rice, Black Beans,...
13      [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
14                                                    NaN
15                                                    NaN
16      [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
17      [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
18                                               [Sprite]
19      [Tomatillo Red Chili Salsa, [Fajita Vegetables...
20                                                    NaN
21      [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
22                                   [Pomegranate Cherry]
23      [[Tomatillo-Green Chili Salsa (Medium), Tomati...
24                                           [Grapefruit]
25                                                    NaN
26      [Roasted Chili Corn Salsa (Medium), [Pinto Bea...
27      [[Tomatillo-Green Chili Salsa (Medium), Roaste...
28                                           [Dr. Pepper]
29      [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
                              ...
4592    [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...
4593    [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...
4594    [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...
4595    [Tomatillo Green Chili Salsa, [Rice, Black Bea...
4596                                                  NaN
4597                                             [Nestea]
4598                                                  NaN
4599        [Roasted Chili Corn Salsa, [Cheese, Lettuce]]
4600                                                  NaN
4601                                          [Diet Coke]
4602                        [Tomatillo Green Chili Salsa]
4603                        [Tomatillo Green Chili Salsa]
4604    [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
4605                                                  NaN
4606                                               [Coke]
4607    [Tomatillo Green Chili Salsa, [Rice, Cheese, S...
4608    [Tomatillo Red Chili Salsa, [Fajita Vegetables...
4609                                             [Sprite]
4610    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4611    [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...
4612    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
4613                                                  NaN
4614                                                  NaN
4615     [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]
4616                                                  NaN
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [64]:
def burrito_finder(x):
    if 'burrito' in str.lower(x):
        return 1
    else:
        return 0
    
chipotle['burrito_flag'] = chipotle['item_name'].apply(burrito_finder)

In [74]:
chipotle[chipotle[ 'burrito_flag'] == 1 ]

def topping_counter(x):
    return x.count(',') + 1

chipotle['topping_count'] = chipotle[chipotle['burrito_flag'] == 1]['choice_description'].apply(topping_counter)

chipotle.head(20)

chipotle['topping_count'].mean()

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [82]:
def chip_finder(x):
    if 'Chips' in x:
        return 1
    else:
        return 0
    
chipotle['chip_flag'] = chipotle['item_name'].apply(chip_finder)

chipotle['chip_count'] = chipotle['chip_flag']*chipotle['quantity']
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price,burrito_flag,topping_count,chip_flag,chip_count
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,0,NaN,1,1
1,1,1,Izze,[Clementine],3.39,0,NaN,0,0
2,1,1,Nantucket Nectar,[Apple],3.39,0,NaN,0,0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,0,NaN,1,1
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,0,NaN,0,0

In [94]:
chipotle[chipotle['chip_flag'] == 1][['item_name', 'chip_count']]

df_chips = chipotle[chipotle['chip_count']> 0][['item_name', 'chip_count']]

#df_chips['item_name'].value_counts()

df_chips.head()

                                item_name  chip_count
0            Chips and Fresh Tomato Salsa           1
3   Chips and Tomatillo-Green Chili Salsa           1
6                           Side of Chips           1
10                    Chips and Guacamole           1
14                    Chips and Guacamole           1

In [ ]:
chip_dict =

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!